SUBSYSTEM=="vfio", OWNER="root", GROUP="kvm"
ACTION=="add", KERNEL=="0000:02:00.0", SUBSYSTEM=="pci", RUN+="/bin/sh -c 'echo -n 0000:02:00.0 > /sys/bus/pci/drivers/igc/unbind ; echo -n 8086 125c > /sys/bus/pci/drivers/vfio-pci/new_id'"
ACTION=="add", KERNEL=="0000:03:00.0", SUBSYSTEM=="pci", RUN+="/bin/sh -c 'echo -n 0000:03:00.0 > /sys/bus/pci/drivers/igc/unbind ; echo -n 8086 125c > /sys/bus/pci/drivers/vfio-pci/new_id'"
